:root {
  --color-primary-400: #212126;
  --color-primary-300: #313132;
  --color-primary-100: #9b9b9b;

  --ajc-blue: #004fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary-400);
  background-color: white;
}

.max-width-container {
  max-width: 850px;
  margin-inline: auto;
  padding-inline: 1.25rem;

  @media (min-width: 768px) {
    padding-inline: 1.875rem;
  }
}

header {
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
  background-color: white;

  .logo-container {
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);

    @media (min-width: 768px) {
      padding-top: 1.125rem;
    }

    img {
      margin-inline: auto;
      max-width: 400px;
      padding-bottom: 0.5rem;
    }

    .small-logo {
      display: block;
      padding-top: 0.5rem;
    }
    .large-logo {
      display: none;
    }
    @media (min-width: 768px) {
      .large-logo {
        display: block;
      }
      .small-logo {
        display: none;
      }
    }
  }
}

.hero {
  padding-top: 3rem;

  @media (min-width: 768px) {
    padding-top: 6rem;
  }
  .header-link {
    color: var(--ajc-blue);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.688rem;
    font-synthesis: weight;
    letter-spacing: normal;
    line-height: 1.82;
  }
  .headline {
    font-family: serif;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    line-height: 1.15;
    text-rendering: optimizeLegibility;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
  .subheadline {
    font-family: serif;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight;
    letter-spacing: -0.45px;
    line-height: 1.11;
    padding-top: 10px;
    text-align: left;
    text-rendering: optimizeLegibility;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }
  img {
    padding-top: 1rem;
    width: 100%;
    height: auto;
  }
  .meta-text {
    padding-block: 1rem;
    font-size: 0.875rem;
    color: var(--color-primary-100);
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    .author {
      font-weight: 700;
      font-size: 1rem;
      color: var(--color-primary-400);
    }
    .date {
      font-weight: 100;
      font-size: 0.75rem;
    }
  }
}

.scroll-container {
  /* width: 100%; */
  /* height: 6px; */
  /* background: #ccc; */
  .scroll-indicator {
    top: 0;
    left: 0;
    height: 4px;
    z-index: 1000;
    transition: width 0.1s ease;
    @media (min-width: 768px) {
      height: 6px;
    }
  }
}

.article-container {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--color-primary-300);
  font-weight: 100;
  font-family: Arial;

  @media (min-width: 768px) {
    padding-block: 2rem;
    padding-inline: 1.875rem;
    gap: 1.5rem;
  }
}
