:root {
  --color-primary-400: #212126;
  --color-primary-300: #313132;
  --color-primary-100: #9b9b9b;

  --ajc-blue: #004fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary-400);
  background-color: white;
}

.max-width-container {
  max-width: 850px;
  margin-inline: auto;
  padding-inline: 1.25rem;

  @media (min-width: 768px) {
    padding-inline: 1.875rem;
  }
}

header {
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
  background-color: white;

  .logo-container {
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);

    @media (min-width: 768px) {
      padding-top: 1.125rem;
    }

    img {
      margin-inline: auto;
      max-width: 400px;
      padding-bottom: 0.5rem;
    }

    .small-logo {
      display: block;
    }
    .large-logo {
      display: none;
    }
    @media (min-width: 768px) {
      .large-logo {
        display: block;
      }
      .small-logo {
        display: none;
      }
    }
  }
}
